.MatchPage{
    display: grid;
    grid-template-columns: 1fr 5fr;
    // grid-template-rows: 1fr 1fr;
}

.dates{
    grid-column: span 1;
    justify-content: left;
}

.backColorGreen-match{
    border: 1px solid white;
    margin-bottom: 20px;
    padding: 10px;
    width: 90%;
    background-color: rgb(42, 133, 42) ;
}

.backColorRed-match{
    border: 1px solid white;
    margin-bottom: 20px;
    padding: 10px;
    width: 90%;
    background-color: rgb(142, 54, 54);
}