.tile{
    width: 300px;
    height: 100px;
    border: 1px solid green;
    background-color: aquamarine;
    color: black;
    text-align: center;
    justify-self: center;
    word-wrap: none;
    display: grid;
    align-content: center;
}